<div class="container">
  <div class="text-center">
    <h2>Dashboard</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Site URL</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody id="formRecords">
      <tr>
        <td>1</td>
        <td><a href="https://form.jotform.com/" target="_blank">https://form.jotform.com/</a></td>
        <td>2024-04-19</td>
        
      </tr>
      <tr>
        <td>2</td>
        <td><a href="https://form.jotform.com/" target="_blank">https://form.jotform.com/</a></td>
        <td>2024-04-19</td>
        
      </tr>
      <tr>
        <td>3</td>
        <td><a href="https://form.jotform.com/" target="_blank">https://form.jotform.com/</a></td>
        <td>2024-04-19</td>
        
      </tr>
      <tr>
        <td>4</td>
        <td><a href="https://form.jotform.com/" target="_blank">https://form.jotform.com/</a></td>
        <td>2024-04-19</td>
        
      </tr>
      <tr>
        <td>5</td>
        <td><a href="https://form.jotform.com/" target="_blank">https://form.jotform.com/</a></td>
        <td>2024-04-19</td>
        
      </tr>
      <tr>
        <td>6</td>
        <td><a href="https://form.jotform.com/" target="_blank">https://form.jotform.com/</a></td>
        <td>2024-04-19</td>
        
      </tr>
      <tr>
        <td>7</td>
        <td><a href="https://form.jotform.com/" target="_blank">https://form.jotform.com/</a></td>
        <td>2024-04-19</td>
        
      </tr>
    </tbody>
  </table>
</div>
