body {
    background-color: #7BC9FF; /* Light gray background */
    margin: 0;
    padding: 0;
  }

.container {
    max-height: 455px;
}

.jumbotron {
    background-color: #7BC9FF; /* Blue background for jumbotron */
    color: #fff; /* White text for jumbotron */
    text-align: center;
    padding-bottom: 50px ;
    margin-bottom: 90px;
    position: relative;
  }
  
  .jumbotron::after {
    content: '';
    position: absolute;
    bottom: -50px; /* Adjust this value to control the depth of the arc */
    left: 0;
    width: 100%;
    height: 100px; /* Adjust this value to control the height of the arc */
    background-color: #7BC9FF;
    border-radius: 50%;
    z-index: -1;
  }
  