.terms-container {
    max-height: 455px;
    overflow-y: auto;
    padding: 20px;
    text-align: justify;

  }
  
  .terms-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .terms-content {
    font-size: 16px;
  }
  
  .terms-content ol {
    padding-left: 20px;
  }
  
  .terms-content li {
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7bc9ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  