<div class="container">
    <div class="card mt-5 border-0">
      <div class="card-body pt-0">
        <h4 class="card-title text-center text-uppercase fs-4 pt-2">Login</h4>
        <form [formGroup]="loginForm"> 
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter email"
              formControlName="email"
              [ngClass]="{ 'form-submitted': formSubmitted }"
              required
            />
          </div>
          <!-- Password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{ 'form-submitted': formSubmitted }"
              required
            />
          </div>
          <div class="d-flex grid justify-content-between mt-5">
            <button type="button" class="btn btn-primary" (click)="backToSignup()">
              Sign Up 
            </button>
            <button type="button" class="btn btn-primary" (click)="onLogin()">
              Login
            </button>
            
          </div>
        </form>
      </div>
    </div>
  </div>
  